<label for="">Server Name</label>

<input 
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)">
<p> {{ serverName }} </p>
<br>
<br>

<label for="">Two-way Binding</label>
<input 
    type="text"
    class="form-control"
    [(ngModel)]="serverName">

<br>
<br>

<button 
    class="btn btn-primary" 
    [disabled]='!allowNewServer' 
    (click)="onCreateServer($event)">
    Add Server</button>
    <br>
    <p> {{ serverCreationStatus }} </p>
    <hr>
    <p> String Interpolation: {{allowNewServer}}</p>
    <p>Property Binding:</p>
    <p [innerText]="allowNewServer"></p>
    <hr>

<!-- <p [innerText]="allowNewServer"> </p> -->
<br>

<label for="">Server Component </label>
<app-server></app-server>
<app-server></app-server>


<!-- (input)="onUpdateServerName($event)" -->